*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-image: url(img/fondo.jpg);
}
header{
    padding: 10px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262C3A;
}
.logoheader{
    width: 83px;
}
.fotoheader{
    width: 324px;
    height: 95px;
    left: 1300px;
    top: 0px;   
}
.icons{
    display: flex;
    width: 3%;
    justify-content: space-between;
    flex-direction: row;
    font-size: 25px;
    color: white;
}
.nav-header{
    width: 53%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    column-gap: 150px;
    color: white;
}
.header-buttons{
    display: flex;
    justify-content: space-around   ;
    flex-direction: row;
    align-content: center;
    width: 100%;
    font-family: 'Mina', sans-serif;
    font-size: 23px;
    color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 10vh;
    margin-bottom: 0;
    left: 0px;
    top: 780px;
    background: #262C3A;
}
.logoF{
    width: 142px;
}
.icons-footer{
    display: flex;
    width: 5%;
    align-self: flex-start;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    font-size: 25px;
    color: white;
    align-self: center;
}
.iconos{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.nav-footer{
    width: 50%;
}
.footer-buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    font-family: 'Mina', sans-serif;
    font-size: 23px;
    color: white;
}
fieldset{
    width: 40%;
    margin: auto;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 52.7vh;
}
.logo{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
}
.formulario_b{
    width: 40%;
    margin-bottom: 10px;
}
input{
    width: 100%;
    font-size: 18px;
    background-color: #262C3A;
    color: white;
    text-align: center;
}